* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

.link {
    cursor: pointer;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 200px;
}

#btnFullscreen {
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.seccion {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* overflow: hidden: oculta el contenido más allá del viewport height. se puede ver cambiando el tamaño de .cuadro */
}

#seccion-1 {
    background-color: cornflowerblue;
    background-image: url(assets/img.png);
    background-size: 50%;
    background-attachment: fixed;
    /* background-attachment: fixed: hace que la imagen se mantenga estática aunque se haga scroll */
    background-position: top center;

}

#seccion-2 {
    background-color: blue;
}

#seccion-3 {
    background-color: yellow;
}

#seccion-4 {
    background-color: whitesmoke;
}

#seccion-5 {
    background-color: burlywood;
}

.cuadro {
    width: 50%;
    height: 110vh;
    background-color: chocolate;
}